*{
    margin: 0;
    padding: 0;
}

#divb{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 110, 112);
    height: 20vw;
    width: 75vw;
    border: 15px solid;
    margin: 10px;
}

.btext {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: bold;
    font-size: 23px;
    color: blue;
    height: 150px;
    width: 55vw;
    border: 15px solid blue;
    font-family: Arial, Helvetica, sans-serif;
}

.red_color {
    background-color: red;
    height: 30px;
    width: 40%;
}

.blue_color {
    background-color: blue;
    height: 30px;
    width: 20%;
}

.green_color {
    background-color: rgb(0, 255, 0);
    height: 30px;
    width: 40%;
}

#container_colors{
    display: flex;
    margin-top: 130px;
}

.div1{
    background-color: blue;
    height: 25px;
    width: 70%;
}
.div2{
    background-color: purple;
    height: 25px;
    width: 40%;
}
.div3{
    background-color: green;
    height: 25px;
    width: 60%;
}
.div4{
    background-color: yellow;
    height: 25px;
    width: 50%;
    
}

.div5 {
    background-color: rgb(1, 57, 68);
    height: 30px;
    width: 20%;
}

#divb2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
}